@model IEnumerable<FrameViewModel>
<h2>Frame Collection</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Collection)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FrameColor)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Bridge)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Horizontal)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Vertical)
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int RowNo = 0;}
        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">@{RowNo++;} @RowNo</td>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bridge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horizontal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vertical)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.FrameId">Details</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.FrameId">Delete</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>